body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: #303030;
    color: #EFEFEF;
    font-family: 'Open Sans';
}

#mainbox {
    grid-row: 2 / span 8;
    grid-column: 2 / span 8;
    background-color: rgba(0, 0, 0, 0.5);
}